In [1]:
import pandas as pd

In [3]:
%%time
data = pd.read_parquet(path='../data/data.parquet')

Wall time: 11.6 s

In [6]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19346684 entries, 0 to 19999996
Columns: 8 entries, sale_date_date to quantity
dtypes: datetime64[ns](1), float64(1), int32(6)
memory usage: 885.6 MB

In [9]:
data['week_of_year'] = data['sale_date_date'].dt.isocalendar().week

In [10]:
data.head()

,sale_date_date,contact_id,shop_id,product_id,product_sub_category_id,product_category_id,brand_id,quantity,week_of_year
0,2018-12-07,1260627,1455,168308,906,205,-1,1.0,49
1,2018-12-07,198287,279,134832,404,93,-1,1.0,49
2,2018-12-07,2418385,848,101384,404,93,-1,1.0,49
3,2018-12-07,1285774,1511,168570,906,205,-1,1.0,49
4,2018-12-07,1810323,1501,168319,906,205,-1,1.0,49