#### Импорт библиотек

In [1]:
import pandas as pd

#### Импорт данных

In [2]:
data = pd.read_csv(filepath_or_buffer='./data/data.csv', low_memory=True)

C:\Users\carne\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000003 entries, 0 to 20000002
Columns: 9 entries, sale_date_date to quantity
dtypes: float64(5), object(4)
memory usage: 1.3+ GB

In [4]:
data.head(n=3)

,sale_date_date,contact_id,shop_id,product_id,name,product_sub_category_id,product_category_id,brand_id,quantity
0,2018-12-07,1260627,1455.0,168308.0,(197312) Пакет-майка 25см х 45см,906.0,205.0,-1.0,"1,00"
1,2018-12-07,198287,279.0,134832.0,(62448) Перекись водорода р-р наружн. 3% фл.по...,404.0,93.0,-1.0,"1,00"
2,2018-12-07,2418385,848.0,101384.0,(72183) Салициловая кислота р-р спирт 2% фл 40...,404.0,93.0,-1.0,"1,00"

#### Преобразование

In [5]:
pd.DataFrame(data.dtypes).sort_values(by=0, ascending=False)

                               0
sale_date_date            object
contact_id                object
name                      object
quantity                  object
shop_id                  float64
product_id               float64
product_sub_category_id  float64
product_category_id      float64
brand_id                 float64

In [77]:
# Преобразование в float64 contact_id

data['contact_id'] = pd.to_numeric(data['contact_id'], errors='coerce')

In [11]:
data \
    .sort_values(by='sale_date_date') \
    .head(n=5)

,sale_date_date,contact_id,shop_id,product_id,name,product_sub_category_id,product_category_id,brand_id,quantity
20000001,(затронуто стр,к: 20000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6707655,2018-01-01,1942268,1530.0,90696.0,"(42985) Физиотенз таб.п.п.о.0,2мг №14",738.0,170.0,-1.0,1.00
6707656,2018-01-01,1918613,1494.0,160125.0,(144480) Линза контактная Acuvue 1-DAY TruEye ...,814.0,183.0,2550.0,1.00
6686724,2018-01-01,848213,839.0,110399.0,(96723) Ацетилсалициловая кислота тб 500мг N20...,696.0,162.0,-1.0,1.00
6686723,2018-01-01,848133,839.0,94106.0,(63765) Бахилы низкие в индив. упаковке №2 (пара),414.0,97.0,-1.0,1.00

In [18]:
# data.drop([20000000, 20000001, 20000002], axis=0)

# MemoryError: Unable to allocate 610. MiB for an array with shape (4, 20000003) and data type object

Слишком мало памяти, чтобы сохранить нормально даже parquet

In [8]:
# data['quantity'] = data['quantity'].str.replace(pat=',', repl='.', regex=False)

In [56]:
# data.brand_id.nunique()

1631

#### Пересохранение в `.parquet` для уменьшения размера файла

In [15]:
# data.to_parquet(path='./data/data.parquet')